{{template "layout" .}}

{{define "title"}}
    About
{{end}}

{{define "content"}}
 <p>Team Name: celestial-corona</p>
 <p>Team Members: fancy-stingray, brainy-jellyfish, curious-frog, hilarious-narwhal</p>
{{end}}
