{{define "layout"}}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>{{template "title" .}}</title>
    </head>
    <body>
        <header>
        </header>
        <div>
            {{template "content" .}}
        </div>
        <footer>      
            <p>My Eventbrite Clone © 2024</p>
            <p>
                <a href="/about">About</a> | <a href="/">Home</a>
            </p>
        </footer>
    </body>
</html>
{{end}}